@import "../../colors";
.main{
  &-building-container{
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 5px auto;

    background: $third;
    border-radius: 20px;
  }
  &-floor-container{
    display: flex;
    text-align: start;
    flex-direction: column;
    background: $secondary;
    padding: 8px;
    margin-bottom: 10px;
  }
  &-room-container{
    display: flex;
  }

}